
#origin, #habits, #fun-facts {
    width: 60%;
    float: left;
}

#right-hand {
    width: 30%;
    float: right;
}

#quiz-button {
    height: 40px;
    width: 120px;
    font-size: 1EM;
}


#catemoji {
    height: 30%;
    width: 30%;
    justify-content: center;
    margin: 100px 0 0 200px;
}

#mark-1, #mark-2, #mark-3 {
    width: 80px;
    height: 80px;
    float: right;
    margin: 40px 20px;

}

#score {
    float:right;
    margin: -20px 40px 0 0;
    font-family: Oxygen;
    font-size: 20px;
    width: 50%;
}

#score-name {
    float:top;
    line-height: 100%;
}

#score-percent{
    float: bottom;
    font-size: 30px;
    line-height: 0%;
    margin-left: 25%;
}

.one-hundred{
    color: green;
}
.sixty-six{
    color: goldenrod;
}
.thirty-three{
    color: orangered;
}
.zero{
    color: black;
}

#cats{
    width: 100%;
}