body {
    background-color: rgba(201, 176, 150, 0.2);
}


h1 {
    font-family: Oxygen, sans-serif;
    font-size: 55px;
    line-height: 0%;
    color:#321D14;
}

h2 {
    font-family: Oxygen, sans-serif;
    font-size: 30px;
    line-height: 0%;
    color:#AC4C36;

}

p, li {
    font-family: Railway, sans-serif;
}

.caption {
    font-size: 12px;
    font-style: italic;
    line-height:25%;
    margin:10px 0 50px 0;
}


#origin, #habits, #fun-facts {
    width: 60%;
    float:left;
}

#right-hand {
    width: 30%;
    float:right;
}

#quiz-button {
    height: 40px;
    width: 120px;
    font-size:1EM;
}
.none {
    display: none;
}

#catemoji {
    height: 30%;
    width: 30%;
    justify-content: center;
    margin: 100px 0 0 200px;
}

#mark-1, #mark-2, #mark-3 {
    width: 80px;
    height: 80px;
    float:right;
    margin: 40px 20px;

}

#score {
    float:right;
    margin: 2px 20px 0 0;
    font-family: Oxygen;
    font-size: 25px;

}