h1 {
    font-family: Oxygen, sans-serif;
    font-size: 40px;
}

h2 {
    font-family: Oxygen, sans-serif;
    font-size: 30px;
}

p, li {
    font-family: Railway, sans-serif;
}

section {
    width: 50%;
}

.caption {
    font-size: 12px;
    font-style: italic;
}