body {
    background-color: rgba(201, 176, 150, 0.2);
}


h1 {
    font-family: Oxygen, sans-serif;
    font-size: 55px;
    line-height: 0%;
    color: #321D14;  
}

h2 {
    font-family: Oxygen, sans-serif;
    font-size: 30px;
    line-height: 0%;
    color: #AC4C36;

}

p, li {
    font-family: Railway, sans-serif;
}

.caption {
    font-size: 12px;
    font-style: italic;
    line-height: 25%;
    margin: 10px 0 50px 0;
}

.none {
    display: none;
}