main {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

h1 {
    text-align: center;
    padding-bottom: 20px;
}

img {
    height: 150px;
    width: 150px;
    margin: 0 30px;
    border: 3px solid transparent;
}

#vs {
    height: 150px;
    width: 150px;
    margin: 0 30px;
}

input {
    display: none;
}

input:hover + img, input:checked + img {
    border: 3px solid darkcyan;
    cursor: pointer;
}

.row {
    height:200px;
    width:auto;
    margin: 20px 0 0 0;
}

h1 + p{ 
    text-align: center;
}

.hidden{
    display:none;
}